<a href="https://colab.research.google.com/github/ShivamKum4r/Machine-learning/blob/main/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  print(" "*(5-i)+"*"*i)

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(1,6):
  print(" "*(5-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(1,10):
  if i<6:
    print(" "*(5-i)+"*"*i)
  else:
    print(" "*(i-5)+"*"*(10-i))

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
a="12345"
for i in range(1,6):
  print(" "*(5-i),a[:i])

     1
    12
   123
  1234
 12345

In [ ]:
a=1
for i in range(1,6):
  print(" "*(5-i),(a*a))
  a=a*10+1

     1
    121
   12321
  1234321
 123454321

In [ ]:
a=1
for i in range(1,6):
  print(" "*(5-i),(a*a))
  a=i*10+1

    1
   22
  63
 124
 205

In [ ]:
def sum(*t):
  print(type(t))
sum()

<class 'tuple'>

In [ ]:
def sum(*t):
  s=0
  for i in t:
    s+=i
  print(s)
sum(1,2)

3

In [ ]:
def oddeven(*t):
  odd=0
  even=0
  for i in t:
    if i%2==0:
      even+=1
    else:
      odd+=1
  print("odd",odd)
  print("even",even)
oddeven(1,2,3,4,5,6,7,8,9)

odd 5
even 4

In [ ]:
def factorial(*t):
  for i in t:
    f=1
    for j in range(1,i+1):
      f=f*j
    print(f)
factorial(1,2,3,4,5)

1
2
6
24
120

In [ ]:
t=()
for i in range(5):
  x=int(input())
  t+=(x,)
print(t)

12
23
09
89
06
(12, 23, 9, 89, 6)

In [ ]:
[(x,y) for i in [1,2,3] for y in [3,1,4] if x!=y]

[(6, 3), (6, 1), (6, 4), (6, 3), (6, 1), (6, 4), (6, 3), (6, 1), (6, 4)]

In [ ]:
list1 =[1,2,3,5,4,3,3,4,2]
print(list(set(list1)))

TypeError: 'list' object is not callable

In [ ]:
list1 =[1,2,3,5,4,3,3,4,2]
print(list(set(list1)))

TypeError: 'list' object is not callable

In [ ]:
def remove(list1):
  list2=[]
  for i in list1:
    if i not in list2:
      list2.append(i)
    return list2
list1=[1,2,3,4,3,2,1]
print(remove(list1))

[1]

In [ ]:
def highest3value(dict):
  list1=[]
  for i in dict.values():
    list1.append(i)
  list1.sort()
  print(list1[-1])
  print(list1[-2])
  print(list1[-3])

dict={"a":1,"b":2,"c":6,"d":4,"e":5}
highest3value(dict)

6
5
4

In [ ]:
def reversetuple(t):
  t1=()
  for i in t[::-1]:
    t1+=(i,)
  print(t1)
t=(1,2,3,4,5)
reversetuple(t)

(5, 4, 3, 2, 1)

In [ ]:
def Comprehensionfibonacci(t):
  t1=()
  for i in range(t):
    if i==0 or i==1:
      t1+=(i,)
    else:
      t1+=(t1[i-2]+t1[i-1],)
  print(t1)
Comprehensionfibonacci(10)

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [ ]:
a= [0,1]
[a.append(a[-1]+a[-2]) for i in range(9)]
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
[i for i in range(1,11) if i%2!=0]

[1, 3, 5, 7, 9]